/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Navbar positioning */
#navbar-placeholder {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    /* Adjust z-index to ensure it's above other elements */
    height: 50px;
}


/* ========================= Sidebar Styles ========================= */

.sidebar {
    background-color: #2c3e50;
    color: white;
    width: 200px;
    height: calc(100vh - 50px);
    /* Adjust the height calculation based on the new navbar height */
    position: fixed;
    left: 0;
    top: 50px;
    /* Adjust the top position to match the navbar height */
    padding: 20px;
    box-sizing: border-box;
    transition: top 0.3s;
    /* Smooth transition for any top value changes */
}
.sidebar-item {
    background: none;
    border: none;
    color: white;
    padding: 10px;
    margin: 5px 0;
    text-align: left;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.sidebar-item:hover,
.sidebar-item.active {
    background-color: #34495e;
}

/* ========================= Main Content Styles ========================= */

.main-content {
    padding-top: 50px;
    /* Adjust this value based on the actual height of your navbar */
    position: relative;
    margin-left: 200px;
    /* Adjust if your sidebar width is different */
}

/* Welcome message should be at the top of the main-content */
.sidebar h1 {
    position: relative;
    top: 0%;
    /* Align to the top of the main-content */
    left: 50%;
    /* Center horizontally */
    transform: translateX(-50%);
    margin-top: 10px;
    /* Remove any default margins that may affect positioning */
    font-size: 24px;
}

/* New Recording Button*/
#new-recording {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Button Styles */
button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-items: center;
}

button:hover {
    background-color: #2980b9;
}

/* Button container layout below the preview */
#button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}



/* ========================= Preview Container ========================= */

#previewContainer {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#preview {
    width: 100%;
    border-radius: 10px;
}


/* ======================== Options Overlay ==========================*/


#optionsOverlay {
    display: none;
    /* Hide initially */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 360px;
    padding: 15px;
    border-radius: 15px;
    background-color: #fdfdfd;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    /* Ensure it's above other content */
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 100px;
    }

    .main-content {
        margin-left: 120px;
    }

    .sidebar-item {
        font-size: 14px;
    }

    #previewContainer {
        width: 95%;
    }
}